.chart {
}

.main text {
    font: 10px sans-serif;	
}

.axis line, .axis path {
    shape-rendering: crispEdges;
    stroke: black;
    fill: none;
    stroke-width: 3px;
}

circle {
    fill: steelblue;
}

#iterations{
	position: absolute;
	top: 334px;
	left: 182px;
	width: 100px;
	height: 40px;
	font-size: 13px;
}

#perfValues
{
	position: absolute;
	top: 384px;
	left: 194px;
	width: 500px;
	height: 40px;
	font-size: 13px;
}

#perfValues2
{
	position: absolute;
	top: 359px;
	left: 145px;
	width: 500px;
	height: 40px;
	font-size: 13px;
}

#cutoff
{
	position: absolute;
	top: 334px;
	left: 254px;
	width: 500px;
	height: 40px;
	font-size: 13px;
}

#anomalies
{
	position: absolute;
	top: 423px;
	left: 233px;
	width: 96px;
	height: 25px;
}

.tooltip
{
	position: absolute;
	width: 200px;
	height: 28px;
	color: #333333;
	font-size: 12px;
	pointer-events: none;
}
